@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
//Color
$darkGold: #d49815;
$gold: #efc74f;
$aquamarine: #5AB1C8;
//Font 
$playfairFont: 'Playfair Display', serif;
$cizelFont: 'Cinzel Decorative', cursive;
